
<audio id="audioparent" controls>
  <source id="audioelement" src="modi_data/modi_1.wav" type="audio/mp3">

  <p>Your browser doesn't support HTML5 audio. Here is a <a href="viper.mp3">link to the audio</a> instead.</p>
</audio>





<button id="submit_text"> Submit Text </button>


Hi from Orange Modi project

<h2> Selected Text : </h2>
<h3 id="selected_text">  </h3>

 <p id="text_body"><%= body %></p>


<script src="http://code.jquery.com/jquery-1.11.0.min.js"> </script>
<script src="./essential.js"></script>
